@media screen and (max-width: 767px) {
    
    .wrapper {
        width: 300px;
    }
   
    ・header {
        width: 300px;
    }
   


    .side-a {
       width: 100px;
   }

    
    .top-center {
        width: 125px;
    }

    .top-right {
        width: 75px;
    }

    .top-bottom {
        width: 125px;
    }
    
    .top-right {
        width: 75px;
    }
    
    .bottom {
        width: 200px;
    }

    .footer {
        width: 300px;
    }
}



@media screen and (max-width: 479px) {
    

    .wrapper {
        width: 150px;

        float: none;

    }

    .box {
        flex-direction: column;
    }
    

    .header {
         width: 150px;
         order: 1;
    }


    .top-right {
        width: 150px;
        order: 3;
    }
    
    .side-a {
         width: 150px;
         order: 2;
    }


    .top-center {
        width: 150px;
        order: 4;
    }

    .top-bottom {
        width: 150px;
        order: 5;
    }


    .bottom {
        width: 150px;
        order: 6;
    }
    
    .footer {
        width: 150px;
        order: 7;
    }

    

}

